*{
    margin: 0;
    padding: 0;
}

#firstcont{
    min-height: 300px;
    width: auto;
    background-image: url('resources\images\laura-adai-xSMIuUDMMSY-unsplash.jpg');
    text-align: center;
    
}
#firstcont h1{
    padding-top: 100px;
}

#secondcont{
    min-height: 300px;
    width: 300px;
    background-color: burlywood;
}

#thirdcont{
    min-height: 300px;
    width: 300px;
    background-color: rgb(179, 150, 36);
}